[submodule "src/thermophysicalModels/chemistryModel/QSSAchemistrySolver"]
	path = src/thermophysicalModels/chemistryModel/QSSAchemistrySolver
	url = git@github.com:Fluid-Mechanics-Lund-University/QSSAchemistrySolver
[submodule "src/radiationModels/sootModels"]
	path = src/radiationModels/sootModels
	url = git@github.com:Fluid-Mechanics-Lund-University/sootModels.git
[submodule "src/functionObjects/conditionalAverage"]
	path = src/functionObjects/conditionalAverage
	url = git@github.com:Fluid-Mechanics-Lund-University/conditionalAverage.git
[submodule "app/solvers/scalarTransportESFFoam"]
	path = app/solvers/scalarTransportESFFoam
	url = git@github.com:Fluid-Mechanics-Lund-University/scalarTransportESFFoam.git
[submodule "src/thermophysicalModels/chemistryModel/PLOGArrheniusReactions"]
	path = src/thermophysicalModels/chemistryModel/PLOGArrheniusReactions
	url = git@github.com:Fluid-Mechanics-Lund-University/PLOGArrheniusReactions.git
[submodule "tut/2DsprayH"]
	path = tut/2DsprayH
	url = git@github.com:Fluid-Mechanics-Lund-University/2DsprayH.git
[submodule "tut/3DsprayH"]
	path = tut/3DsprayH
	url = git@github.com:Fluid-Mechanics-Lund-University/3DsprayH.git
[submodule "app/utilities/Internal2volField"]
	path = app/utilities/Internal2volField
	url = git@github.com:Fluid-Mechanics-Lund-University/Internal2volField.git
[submodule "src/functionObjects/cloudInfo"]
	path = src/functionObjects/cloudInfo
	url = git@github.com:Fluid-Mechanics-Lund-University/cloudInfo.git
[submodule "src/functionObjects/minMaxLength"]
	path = src/functionObjects/minMaxLength
	url = git@github.com:Fluid-Mechanics-Lund-University/minMaxLength.git
[submodule "src/functionObjects/mixtureFraction"]
	path = src/functionObjects/mixtureFraction
	url = git@github.com:Fluid-Mechanics-Lund-University/mixtureFraction.git
[submodule "app/utilities/colorfulParticleTracks"]
	path = app/utilities/colorfulParticleTracks
	url = git@github.com:Fluid-Mechanics-Lund-University/colorfulParticleTracks.git
[submodule "tut/pitzDailyPremixedFlame"]
	path = tut/pitzDailyPremixedFlame
	url = git@github.com:Fluid-Mechanics-Lund-University/pitzDailyPremixedFlame.git
[submodule "app/solvers/reactingDNS"]
	path = app/solvers/reactingDNS
	url = git@github.com:Fluid-Mechanics-Lund-University/reactingDNS_OpenFOAM.git
[submodule "src/functionObjects/sampledPlaneAverage"]
	path = src/functionObjects/sampledPlaneAverage
	url = git@github.com:Fluid-Mechanics-Lund-University/sampledPlaneAverage.git
[submodule "app/utilities/CRPWA"]
	path = app/utilities/CRPWA
	url = git@github.com:Fluid-Mechanics-Lund-University/CRPWA.git
[submodule "app/utilities/1DFlameSin2Foam"]
	path = app/utilities/1DFlameSin2Foam
	url = git@github.com:Fluid-Mechanics-Lund-University/1DFlameSin2Foam.git
[submodule "app/utilities/foam2Columns"]
	path = app/utilities/foam2Columns
	url = git@github.com:Fluid-Mechanics-Lund-University/foam2Columns.git
[submodule "app/solvers/reactingCanteraFoam"]
	path = app/solvers/reactingCanteraFoam
	url = git@github.com:Fluid-Mechanics-Lund-University/reactingCanteraFoam.git
[submodule "app/solvers/ZYsprayFoam"]
	path = app/solvers/ZYsprayFoam
	url = git@github.com:Fluid-Mechanics-Lund-University/ZYsprayFoam.git
[submodule "src/thermophysicalModels/chemistryModel/CanteraChemistryModel"]
	path = src/thermophysicalModels/chemistryModel/CanteraChemistryModel
	url = git@github.com:Fluid-Mechanics-Lund-University/CanteraChemistryModel.git
[submodule "app/utilities/CEMAX"]
	path = app/utilities/CEMAX
	url = git@github.com:Fluid-Mechanics-Lund-University/CEMAX.git
[submodule "src/thermophysicalModels/chemistryModel/pyJacChemistryModel"]
	path = src/thermophysicalModels/chemistryModel/pyJacChemistryModel
	url = git@github.com:Fluid-Mechanics-Lund-University/pyJacChemistryModel.git
[submodule "src/TurbulenceModels/dynamicSmagorinsky"]
	path = src/TurbulenceModels/dynamicSmagorinsky
	url = git@github.com:Fluid-Mechanics-Lund-University/dynamicSmagorinsky.git
[submodule "app/utilities/ZYfoamListTimes"]
	path = app/utilities/ZYfoamListTimes
	url = git@github.com:Fluid-Mechanics-Lund-University/ZYfoamListTimes.git
[submodule "tut/chemicalMechanisms"]
	path = tut/chemicalMechanisms
	url = git@github.com:Fluid-Mechanics-Lund-University/chemicalMechanisms.git
[submodule "src/boundaryConditions"]
	path = src/boundaryConditions
	url = git@github.com:Fluid-Mechanics-Lund-University/boundaryConditions.git
[submodule "src/thermophysicalModels/chemistryModel/CCMchemistryModel"]
	path = src/thermophysicalModels/chemistryModel/CCMchemistryModel
	url = git@github.com:Fluid-Mechanics-Lund-University/CCMChemistryModel_OpenFOAMV7.git
[submodule "app/solvers/ESFFoam"]
	path = app/solvers/ESFFoam
	url = git@github.com:Fluid-Mechanics-Lund-University/ESFFoam.git
[submodule "src/combustionModels/ESF"]
	path = src/combustionModels/ESF
	url = git@github.com:Fluid-Mechanics-Lund-University/ESFcombustionModel.git
[submodule "src/combustionModels/LLPaSR"]
	path = src/combustionModels/LLPaSR
	url = git@github.com:Fluid-Mechanics-Lund-University/LLPaSRcombustionModel.git
[submodule "app/solvers/combSprayFoam"]
	path = app/solvers/combSprayFoam
	url = git@github.com:Fluid-Mechanics-Lund-University/combSprayFoam.git
[submodule "app/solvers/ESFDySprayAFoam"]
	path = app/solvers/ESFDySprayAFoam
	url = git@github.com:Fluid-Mechanics-Lund-University/ESFDySprayAFoam.git
