[submodule "src/thermophysicalModels/chemistryModel/QSSAchemistrySolver"]
	path = src/thermophysicalModels/chemistryModel/QSSAchemistrySolver
	url = git@github.com:Fluid-Mechanics-Lund-University/QSSAchemistrySolver
[submodule "src/radiationModels/sootModels"]
	path = src/radiationModels/sootModels
	url = git@github.com:Fluid-Mechanics-Lund-University/sootModels.git
[submodule "src/functionObjects/conditionalAverage"]
	path = src/functionObjects/conditionalAverage
	url = git@github.com:Fluid-Mechanics-Lund-University/conditionalAverage.git
[submodule "tut/chemicalMechanisms"]
	path = tut/chemicalMechanisms
	url = git@github.com:Fluid-Mechanics-Lund-University/chemicalMechanisms.git
[submodule "app/solvers/scalarTransportESFFoam"]
	path = app/solvers/scalarTransportESFFoam
	url = git@github.com:Fluid-Mechanics-Lund-University/scalarTransportESFFoam.git
[submodule "src/thermophysicalModels/chemistryModel/PLOGArrheniusReactions"]
	path = src/thermophysicalModels/chemistryModel/PLOGArrheniusReactions
	url = git@github.com:Fluid-Mechanics-Lund-University/PLOGArrheniusReactions.git
